* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  min-width: 330px;
  background: rgb(71, 53, 85);
  background: linear-gradient(
    90deg,
    rgba(71, 53, 85, 1) 42%,
    rgba(34, 26, 37, 1) 100%
  );
}
